[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Marton Szegheo (szegheomarci)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group szm_service-users
	label-Code-Review = -2..+2 group user/Marton Szegheo (szegheomarci)
	label-Verified = -1..+1 group szm_service-users
	label-Verified = -1..+1 group user/Marton Szegheo (szegheomarci)
	push = group user/Marton Szegheo (szegheomarci)
	read = group user/Marton Szegheo (szegheomarci)
	rebase = group user/Marton Szegheo (szegheomarci)
	removeReviewer = group user/Marton Szegheo (szegheomarci)
	submit = group user/Marton Szegheo (szegheomarci)
[access "refs/heads/*"]
	create = group user/Marton Szegheo (szegheomarci)
	push = +force group user/Marton Szegheo (szegheomarci)
	pushMerge = group user/Marton Szegheo (szegheomarci)
	read = group user/Marton Szegheo (szegheomarci)
[access "refs/tags/*"]
	push = group user/Marton Szegheo (szegheomarci)
	push = +force group user/Marton Szegheo (szegheomarci)
